
{{ form_start(form, { method: 'POST', action: path('comment_new', { 'sellerName': user.username }) }) }}
        {{ form_errors(form) }}

        <div class="new_comment">
            {{ form_errors(form.text) }}

            {{ form_widget(form.text, { attr: { rows: 10 } }) }}

            <button class="button" type="submit">Comment</button>
        </div>

{{ form_end(form) }}
