<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
		<link href="{{ asset('css/base.css') }}" rel="stylesheet">
        {% block css %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
	<div id="lala">
		<header class="header">
			<div class="inside-header">
				<h1 class="title"><a href="{{ path('home') }}">Auction</a></h1>
				<div class="entrance">
					{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
						<a href="{{ path('register') }}">Register</a>
						<br> <a href="{{ path('login') }}">Login</a>
					{% else %}
						<div class="logged">Logged in as <b><a href="{{ path('profile', {'username': app.user.username}) }}">{{ app.user.username }}</a></b></div>
						<a href="{{ path('logout') }}">Log Out</a>
					{% endif %}
				</div>
			</div>
		</header>
		
		<nav>
			<div  class="menu">
				<ul class="main-menu">
					<li class="menu-item">
						<a href="{{ path('home') }}">Home</a>
					</li>
					<li class="menu-item">
						<a href="{{ path('make-lot') }}">Make a lot</a>
					</li>
					<li class="menu-item">
						<a href="{{ path('contacts') }}">Contacts</a>
					</li>
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						{% if app.user.group == 'Admin' or app.user.group == 'Content-manager' %}
						<li class="menu-item">
							<a href="{{ path('check-lots') }}">Check outdated lots</a>
						</li>
						{% endif %}
					{% endif %}
				</ul>
				<div class="quick-search">
					<form action="">
						<input class="search" type="text" name="parameters">
						<input class="but_search" type="submit" name="search" value="Search">
					</form>
				</div>
			</div>
		</nav>
		{% block page %}
		<div class="parent">
			<div class="side-menu">
				<h3>Categories</h3>
				{{ render(controller('AppBundle:Main:categories')) }}
				{% block search_parameters %}{% endblock %}
			</div>
			
			<div class=content>
				{% block content %}{% endblock %}
			</div>
		</div>
		{% endblock %}
		
		<div class="footer">
			Made by Good people.
		<div>
	</div>
		{% block js %}{% endblock %}
    </body>
</html>
