{% extends 'base.html.twig' %}

{% block title %}{{ name }}{% endblock %}

{% block css %}
	<link href="{{ asset('css/category_display.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
	{% if lots %}
		<ul class="grid row">
		{% for lot in lots %}
			<li class="item">
				<a href="{{ path('lot', {'id':lot.id}) }}">
					<img class="item-pic" src="{{ lot.img }}" alt="{{ lot.name }}"/>
					<div class="item-name">{{ lot.name }}</div><br>
				</a>
				<div class="bottom">
					{% if lot.status == 'Finished' %}
						<label class="label-closed">Closed</label>
					{% elseif lot.status == 'Unconfirmed' %}
						<label class="label-closed">Pending</label>
					{% else %}
						<label class="label-open">Open</label>
					{% endif %}
					<div class="item-price">{{ lot.currentPrice }} {{ lot.currency.name }}</div>
					<!-- <a href="#" class="item-buy">Buy</a> -->
					<div class="item-comments">{{ lot.comments|length }} comments</div>
				</div>
			</li>
		{% endfor %}
		</ul>
		<ul class="pagination pagination-sm row">
				
				{% if page - 1 == 0%}
					<li class="disabled"><a href="{{ path('category_display', {'page': page - 1, 'name': name}) }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a></li>
				{% else %}
					<li><a href="{{ path('category_display', {'page': page - 1, 'name': name}) }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a></li>
				{% endif %}
				
				{% for i in start_pag..end_pag %}
					{% if i == page %}
						<li class="active"><a href="{{ path('category_display', {'page': i, 'name': name}) }}">{{i}}</a></li>
					{% else %}
						<li><a href="{{ path('category_display', {'page': i, 'name': name}) }}">{{i}}</a></li>
					{% endif %}
				{% endfor %}
				{% if pages == page%}
					<li class="disabled"><a href="{{ path('category_display', {'page': page + 1, 'name': name}) }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a></li>
				{% else %}
					<li><a href="{{ path('category_display', {'page': page + 1, 'name': name}) }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a></li>
				{% endif %}
			</ul>
		
		
	{% else %}
		<p>No lots in this category yet.</p>
	{% endif %}
	
{% endblock %}