{% extends 'base.html.twig' %}

{% block title %} Control panel | Moderator {% endblock %}

{% block css %}
	<link href="{{ asset('css/control_panel.css') }}" rel="stylesheet">
{% endblock %}

{% block page %}
<div class="parent">
	<div class="content">
		<div class="comments">
			{% if lot_comments %}
			<table class="table">
			<tr class="first_tr">
					<td width="100">
					Date: 
					</td>
					<td width="100">
					Author: 
					</td>
					<td width="100">
					Lot: 
					</td>
					<td width="400">
					Text: 
					</td>
					<td width="40">
					Rating: 
					</td>
					<td width="100">
					Check: 
					</td>
					<td width="100">
					Delete: 
					</td>
			</tr>
			{% else %}
			No unchecked comments.
			{% endif %}
			
			{% for lot_comment in lot_comments %}
			
				<tr class="comments">
					<td>
					{{ lot_comment.date | date('d.m.Y')}}
					</td>
					<td>
					<a href="{{ path('profile', {'username': lot_comment.author.username}) }}">{{ lot_comment.author.username }}</a>
					</td>
					<td>
					<a href="{{ path('lot', {'id': lot_comment.lot.id}) }}">{{ lot_comment.lot.name}}</a>
					</td>
					<td>
					{{ lot_comment.text}}
					</td>
					<td>
					{{ lot_comment.rating}}
					</td>
					<td>
					<a class="btn btn-success btn-xs" href="{{ path('check_lot', {'id': lot_comment.id}) }}">Check</a>
					</td>
					<td>
					<a class="btn btn-danger btn-xs" href="{{ path('delete-lot', {'id': lot_comment.id}) }}">Delete</a>
					</td>
				</tr>
			{% endfor %}
			
			
			
			{% if lot_comments %}
			</table>
			{% endif %}
			
		</div>
		<ul class="pagination pagination-sm">
				
				{% if page - 1 == 0%}
					<li class="disabled"><a href="{{ path('comments_lot', {'page': page - 1}) }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a></li>
				{% else %}
					<li><a href="{{ path('comments_lot', {'page': page - 1}) }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a></li>
				{% endif %}
				
				{% for i in start_pag..end_pag %}
					{% if i == page %}
						<li class="active"><a href="{{ path('comments_lot', {'page': i}) }}">{{i}}</a></li>
					{% else %}
						<li><a href="{{ path('comments_lot', {'page': i}) }}">{{i}}</a></li>
					{% endif %}
				{% endfor %}
				{% if pages == page%}
					<li class="disabled"><a href="{{ path('comments_lot', {'page': page + 1}) }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a></li>
				{% else %}
					<li><a href="{{ path('comments_lot', {'page': page + 1}) }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a></li>
				{% endif %}
			</ul>
		
		
			
		</div>
	
	</div>
</div>



{% endblock %}
