{% extends 'base.html.twig' %}

{% block title %}
	{% if found %}
		{{ lot.name }}
	{% else %}
		Not Found
	{% endif %}
{% endblock %}

{% block css %}
	<link href="{{ asset('css/lot.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
	{% if found %}
		{% if app.user.username == author %}
			<div class="right">
				<a href="{{ path('edit-lot', {'id':lot.id}) }}">Edit</a>
				<a href="{{ path('delete-lot', {'id':lot.id}) }}">Delete</a>
			</div>
		{% endif %}
		<div class="text">{{ lot.name }}</div>
		<div class="text">Description: {{ lot.description }}</div>
		<div class="text">Price: {{ lot.startPrice }} hrn.</div>
		<p>
			Properties:
			{% for prop in properties %}
				<div class="property">
					{{ prop.name }} : {{ prop.value }}
				</div>
			{% endfor %}
		</p>
		<input class="submit" type="submit" value="Buy"/>
	{% else %}
		Lot not found.
	{% endif %}
{% endblock %}