{% extends 'base.html.twig' %}

{% block title %}
	{% if found %}
		{{ lot.name }}
	{% else %}
		Not Found
	{% endif %}
{% endblock %}

{% block css %}
	<link href="{{ asset('css/lot.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
	{% if found %}
		<div class="text">{{ lot.name }}</div>
		<div class="text">{{ lot.description }}</div>
		<div class="text">{{ lot.startPrice }}</div>
		<input class="submit" type="submit" value="Buy"/>
	{% else %}
		Lot not found.
	{% endif %}
{% endblock %}