{% extends 'base.html.twig' %}

{% block title %}Make a lot{% endblock %}

{% block css %}
	<link href="{{ asset('css/make-lot.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
	{% if edit and not found%}
		Lot not found.
	{% else %}
		<form action="{% if edit %}{{ path('edit-lot', {'id':id}) }}{% else %}{{ path('make-lot-cat', {'category':category.name}) }}{% endif %}" method="post" enctype="multipart/form-data">
			{% if error %}
				<div class="error">{{ error }}</div>
			{% endif %}
			<input class="text-input" type="text" name="Name" value="{{ name }}" placeholder="Lot name"/>
			<textarea class="textarea" name="Description" placeholder="Description">{{ description }}</textarea>
			{% for property in properties %}
				<input class="text-input" type="text" name="{{ property.und_name }}" value="{{ property.value }}" placeholder="{{ property.name }}"/>
			{% endfor %}
			<input class="text-input" type="text" name="Starting_price" value="{{ starting_price }}" placeholder="Starting price"/>
			<input class="text-input" type="text" name="Buyout_price" value="{{ buyout_price }}" placeholder="Buyout price"/>
			<input type="file" name="file">
			<button class="submit" type="submit">{% if edit %}Save{% else %}Create{% endif %}</button>
		</form>
	{% endif %}
{% endblock %}