{% extends 'base.html.twig' %}

{% block title %} Control panel | Moderator {% endblock %}

{% block css %}
	<link href="{{ asset('css/control_panel.css') }}" rel="stylesheet">
{% endblock %}

{% block page %}
<div class="parent">
	<div class="content">
		
		<div class="lots">
		{% if lots %}
		<table class="table">
		<tr class="first_tr">
				<td width="150">
				Date: 
				</td>
				<td width="100">
				Seller: 
				</td>
				<td width="100">
				Lot: 
				</td>
				<td width="100">
				Confirm: 
				</td>
				<td width="100">
				Delete: 
				</td>
		</tr>
		{% else %}
		No unconfirmed lots.
		{% endif %}
		
		{% for lot in lots %}
		
			<tr class="comments">
				<td>
				{{ lot.startDate | date('d.m.Y')}}
				</td>
				<td>
				<a href="{{ path('profile', {'username': lot.author.username}) }}">{{ lot.author.username }}</a>
				</td>
				<td>
				<a href="{{ path('lot', {'id': lot.id}) }}">{{ lot.name}}</a>
				</td>
				
				<td>
				<a  class="btn btn-success btn-xs" href="{{ path('confirm-lot', {'id': lot.id}) }}">Confirm</a>
				</td>
				<td>
				<a  class="btn btn-danger btn-xs" href="{{ path('delete-lot', {'id': lot.id}) }}">Delete</a>
				</td>
			</tr>
		{% endfor %}
		
		{% if lots %}
		</table>
		{% endif %}
		
		</div>
	<ul class="pagination pagination-sm">
				
				{% if page - 1 == 0%}
					<li class="disabled"><a href="{{ path('manager', {'page': page - 1}) }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a></li>
				{% else %}
					<li><a href="{{ path('manager', {'page': page - 1}) }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a></li>
				{% endif %}
				
				{% for i in start_pag..end_pag %}
					{% if i == page %}
						<li class="active"><a href="{{ path('manager', {'page': i}) }}">{{i}}</a></li>
					{% else %}
						<li><a href="{{ path('manager', {'page': i}) }}">{{i}}</a></li>
					{% endif %}
				{% endfor %}
				{% if pages == page%}
					<li class="disabled"><a href="{{ path('manager', {'page': page + 1}) }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a></li>
				{% else %}
					<li><a href="{{ path('manager', {'page': page + 1}) }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a></li>
				{% endif %}
			</ul>
			
	</div>
</div>



{% endblock %}
