{% extends 'base.html.twig' %}

{% block title %}User profile{% endblock %}

{% block css %}
	<link href="{{ asset('css/profile.css') }}" rel="stylesheet">
{% endblock %}

{% block page %}
<div class="parent">
	<div class="content">
		<div class="content_title">User Profile</div>
		<div class="avatar"><img src='{{ path }}' alt="Profile image"><br>
		{% if username == app.user.username %}
		<a href="{{path('edit')}}"> Edit profile</a>
		{% endif %}
		</div>
		
			<table class="profile_info">
			<tr>
				<td width="130">
				Username: 
				</td>
				<td width="300">
				{{ username }}
				</td>
			</tr>
			<tr>
				<td>
				Name: 
				</td>
				<td>
				{{ name }}
				</td>
			</tr>
			<tr>
				<td>
				Email:
				</td>
				<td>
				{{ email }}
				</td>
			</tr>
			<tr>
				<td>
				Group:
				</td>
				<td>
				{{ group }}
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
				
				</td>
			</tr>
			</table>
		
	</div>
</div>
{% endblock %}