{% extends 'base.html.twig' %}

{% block title %}User profile{% endblock %}

{% block css %}
	<link href="{{ asset('css/profile.css') }}" rel="stylesheet">
{% endblock %}

{% block page %}
<div class="parrent">
	<div class="whole">
		<div class="content_title">User Profile</div>
		<div class="avatar"><img src="" alt="Profile image"></div>
		<div class="profile_info">
			<ul>
				<li><div class="info_li">Username: </div><b>{{ username }}<b/>
				<li><div class="info_li">Name: </div><b>{{ name }}<b/>
				<li><div class="info_li">Email: </div><b>{{ email }}<b/>
				<li><div class="info_li">Group: </div><b>{{ group }}<b/>
			</ul>
		</div>
	</div>
</div>
{% endblock %}